* {
  padding: 0;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* nav bar start */
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: white;
}

.logo {
  height: 50px;
  width: 50px;
}

ul {
  display: flex;
}

li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 50px;
  padding: 0px 10px;
}

.homelink {
  background-color: rgba(0, 0, 128, 0.643);
}

.explorelink {
  background-color: steelblue;
}

.adoptlink {
  background-color: lightblue;
}

.donatelink {
  background-color: coral;
}

.helplink {
  background-color: gold;
}

.homelink:hover , .explorelink:hover , .adoptlink:hover , .donatelink:hover , .helplink:hover {
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
  font-size: large;
}

a:hover {
  text-decoration: underline;
  color: white;
}
/* nav bar end */


main {
  padding-top: 50px;
}

/* form start  */

form {
  display: block;
  margin: auto;
  border: 1px solid black;
  height: 300px;
  width: 300px;
}



/* footer start  */
footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 60px;
}

.media {
  width: 40px;
  height: 40px;
  padding: 0px 5px;
}