* {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* nav bar start */
nav {

}

.logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

ul {
    text-align: right;
}

li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

a:hover {
    text-decoration: underline;
}
/* nav bar end */

/* title start */
h1 {
    text-align: center;
    font-size: 100px;
}