* {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* nav bar start */
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
}

.logo {
    height: 50px;
    width: 50px;
}

ul {
    display: flex;
}

li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 50px;
    padding: 0px 10px;
}

.homelink {
    background-color: rgba(0, 0, 128, 0.643);
}

.explorelink {
    background-color: steelblue;
}

.adoptlink {
    background-color: lightblue;
}

.donatelink {
    background-color: coral;
}

.helplink {
    background-color: gold;
}

.homelink:hover , .explorelink:hover , .adoptlink:hover , .donatelink:hover , .helplink:hover {
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

a:hover {
    text-decoration: underline;
    color: white;
}

/* nav bar end */


/* Title */

header h1 {
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
}

/* Hero Image */

.banner-area {
    padding: 10px;
    width: 100%;
    height: 100vmin;
    background: url(explore-images/Cute_Panda.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

 .content-area {
    display: fixed;
    height: 100vh;
    bottom: 20px;
    left: 200px;
    margin-left: 750px;
    margin-top: 230px;
    text-align: center;
    overflow: hidden;
}

.content h1{
    font-size: 60px;
    color: rgb(0, 0, 0);
    /* background-color: rgba(5, 37, 4, 0.5); */
    border-radius: 20px;
    display: inline-block;
    text-shadow: 3px 3px rgb(255, 255, 255);
}

.content p{
    font-size: 1.5em ;
    margin-left: 10%;
    margin-right: 10%;
}

.content button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 12px;
    border: 0;
    margin-top: 2%;
    font-size: large;
}



/* Animal Content */

.animals {
    display: flex;
    background-color: black;
    height: 450px;
}

.animaltext :hover {
    color: rgb(140, 215, 148);
    opacity: 1;
}

.animaltext {
    color:white;
    text-align: center;
    display: block;
    margin: auto;
}

.animals img{
    height: 450px;
}

.animalInfo {
    font-size: 20px;
    padding: 20px;
}

/* footer start  */

footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 60px;
}

.media {
    width: 40px;
    height: 40px;
    padding: 0px 5px;
}
/* ------- Responsive design ------- */
/* ------- phone screens --------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
* {
    overflow-x: hidden;
}
/* nav bar start */
nav {
    justify-content: space-around;
    position: absolute;
}
.logo {
   display: none;
}
a {
    font-size: medium;
}
/* Title */
header h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
}
/* Hero Image */
.banner-area {
    padding: 10px;
    width: 100%;
    height: 400px;
    background: url(explore-images/Cute_Panda.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
 .content-area {
    display: fixed;
    height: 100%;
    bottom: 20px;
    left: 200px;
    margin-left: 5px;
    margin-top: 100px;
    text-align: center;
}
.content h1{
    font-size: 25px;
}
.content p{
    font-size: 1em ;
    margin-left: 10%;
    margin-right: 10%;
   background-color: rgb(255, 255, 255, 0.7);
}
.content button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 12px;
    border: 0;
    margin-top: 2%;
    font-size: large;
}
/* Animal Content */
.animals {
    display: inline-block;
    text-align: center;
    /* position: relative; */
}
.animaltext {
    text-align: center;
    display: block;
    margin: auto;
}
.animals img{
    height: 200px;
    width: 200px;
}
.animalInfo {
    font-size: 12px;
    padding: 20px;
}
}
/* ---------- tablets ----------- */
@media screen and (min-width: 481px) and (max-width: 768px){
* {
    overflow-x: hidden;
}
/* nav bar start */
nav {
    justify-content: space-around;
    position: absolute;
    justify-content: center;
}
.logo {
   display: none;
}
a {
    font-size: medium;
}
/* Title */
header h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 60px;
}
/* Hero Image */
.banner-area {
    padding: 10px;
    width: 100%;
    height: 400px;
    background: url(explore-images/Cute_Panda.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
 .content-area {
    display: fixed;
    height: 100%;
    bottom: 20px;
    left: 200px;
    margin-left: 5px;
    margin-top: 100px;
    text-align: center;
}
.content h1{
    font-size: 35px;
}
.content p{
    font-size: 1.5em ;
    margin-left: 10%;
    margin-right: 10%;
   background-color: rgb(255, 255, 255, 0.7);
}
/* Animal Content */
.animals {
    display: inline-block;
    text-align: center;
    /* position: relative; */
}
.animaltext {
    text-align: center;
    display: block;
    margin: auto;
}
.animals img{
    height: 250px;
    width: 250px;
}
.animalInfo {
    font-size: 15px;
    padding: 20px;
}
}
/*-------- laptops -------  */
@media screen and (min-width: 769px) and (max-width: 1025px) {
    * {
        overflow-x: hidden;
    }
    /* nav bar start */
    /* nav {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: 50px;
    }
     */
    .logo {
        height: 50px;
        width: 50px;
    }
    /* Title */
    header h1 {
        text-align: center;
        font-size: 45px;
        padding-top: 60px;
    }
    /* Hero Image */
    .banner-area {
        padding: 10px;
        width: 100%;
        height: 400px;
        background: url(explore-images/Cute_Panda.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }
     .content-area {
        display: fixed;
        height: 100%;
        bottom: 20px;
        left: 200px;
        margin-left: 5px;
        margin-top: 100px;
        text-align: center;
    }
    .content h1{
        font-size: 35px;
    }
    .content p{
        font-size: 1.5em ;
        margin-left: 10%;
        margin-right: 10%;
       background-color: rgb(255, 255, 255, 0.7);
    }
    /* Animal Content */
    .animals {
        display: inline-block;
        text-align: center;
        /* position: relative; */
    }
    .animaltext {
        text-align: center;
        display: block;
        margin: auto;
    }
    .animals img{
        height: 250px;
        width: 250px;
    }
    .animalInfo {
        font-size: 18px;
        padding: 20px;
    }
}
/*------ desktops ------*/
@media screen and (min-width: 1025px) and (max-width: 1205px){
    * {
        overflow-x: hidden;
    }
    .logo {
        height: 50px;
        width: 50px;
    }
    /* Title */
    header h1 {
        text-align: center;
        font-size: 50px;
        padding-top: 60px;
    }
    /* Hero Image */
    .banner-area {
        padding: 10px;
        width: 100%;
        height: 400px;
        background: url(explore-images/Cute_Panda.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }
     .content-area {
        display: fixed;
        height: 100%;
        bottom: 20px;
        left: 200px;
        margin-left: 5px;
        margin-top: 100px;
        text-align: center;
    }
    .content h1{
        font-size: 35px;
    }
    .content p{
        font-size: 1.5em ;
        margin-left: 10%;
        margin-right: 10%;
       background-color: rgb(255, 255, 255, 0.7);
    }
    /* Animal Content */
    .animals {
        display: inline-block;
        text-align: center;
        /* position: relative; */
    }
    .animaltext {
        text-align: center;
        display: block;
        margin: auto;
    }
    .animals img{
        height: 300px;
        width: 300px;
    }
    .animalInfo {
        font-size: 20px;
        padding: 20px;
    }
}